.screen {
  position: relative;
  // HACK: Для корректного проигрывания анимаций, чтобы не вылазили и т.д.
  // (дополнительно и в каждой секции)
  // BUG: На некоторых экрана съекзжают элементы при overwlow-x
  overflow: hidden;

  &__separator {
    width: 2px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
    background-color: $separator-color;
  }

  // &__title {
  //   font-size: 1.75rem;

  //   @media (min-width: $screen-md) {
  //     font-size: $font-size-h2;
  //   }
  // }

  &__index {
    position: absolute;
    left: 3.85%;
  }

  &__socials {
    position: absolute;
    right: 3.5%;
    writing-mode: vertical-lr;
  }
}
